absl-py==0.7.0
aiocoap==0.3
aiohttp==3.2.0
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.6.2
async-generator==1.10
async-timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
bleach==1.5.0
blis==0.7.4
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
cmake==3.16.3
colorama==0.4.4
comtypes==1.1.9
contextvars==2.4
cycler==0.10.0
cymem==2.0.5
Cython==0.29.7
dataclasses==0.8
de-core-news-sm==3.0.0
decorator==4.4.2
defusedxml==0.6.0
en-core-web-sm==3.0.0
entrypoints==0.3
ffmpeg==1.4
flake8==3.8.1
flake8-import-order==0.18.1
future==0.16.0
gast==0.2.2
google-auth==1.26.1
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.24.3
h5py==2.9.0
html5lib==0.9999999
idna==2.6
idna-ssl==1.1.0
imageio==2.5.0
imageio-ffmpeg==0.4.3
immutables==0.15
importlib-metadata==3.7.3
install==1.3.4
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.1.0
ipywidgets==4.1.1
isort==4.3.21
jedi==0.13.3
Jinja2==2.9
joblib==1.0.1
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
labelImg==1.8.4
lxml==4.6.2
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==3.0.3
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.18.0
mock==4.0.3
moviepy==1.0.3
mpmath==1.2.1
multidict==4.3.1
murmurhash==1.0.5
nbclient==0.5.2
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.5
ninja==1.9.0
nltk==3.2.2
nose==1.3.7
notebook==6.2.0
numexpr==2.6.5
numpy==1.19.5
oauthlib==3.1.0
opencv-python==3.4.5.20
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.2
parso==0.4.0
path.py==8.1.2
pathy==0.4.0
pexpect==4.0.1
pickleshare==0.5
Pillow==5.1.0
pip==21.0.1
preshed==3.0.5
proglog==0.1.9
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.15.8
ptyprocess==0.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pydantic==1.7.3
pyflakes==2.2.0
Pygments==2.8.0
pyparsing==2.0.7
pypiwin32==223
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.14.11
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
pywinpty==0.5.7
PyYAML==5.1
pyzmq==18.0.1
qtconsole==5.0.2
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.2.1
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.95
setuptools==53.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
srsly==2.4.0
sympy==1.7.1
tb-nightly==2.5.0a20210315
tensorboard==1.13.0
tensorboard-data-server==0.4.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.0
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.2
termcolor==1.1.0
terminado==0.9.2
testpath==0.4.2
thinc==8.0.2
threadpoolctl==2.1.0
tifffile==2020.9.3
tornado==6.1
tqdm==4.57.0
traitlets==4.3.2
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.3
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.2
wheel==0.36.2
widgetsnbextension==3.4.2
wincertstore==0.2
wrapt==1.12.1
yarl==1.2.4
zipp==3.4.1
